@page "/"
@inject UIServiceAdmin AdminService;


<CascadingValue Value="AdminService" Name="Service">
    <div style="display: flex;">
        <ProductPost/>
        <ProductPut/>
    </div>

    <div style="display: flex;">
        <ColorPost />
        <ColorPut />
    </div>

    <div style="display: flex;">
        <SizePost />
        <SizePut />
    </div>

    
</CascadingValue>



@code {


}
