@page "/"
@inject UIService Service;

<NavComponent />

<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
        <AsideComponent OnChange="OnChange" />
        <ProductComponent />
    </CascadingValue>
</div>

@code{
    void OnChange()
    {
        
    }

}



@* <MenuComponent />
<CarouselComponent />
<CardListComponent /> *@






