@page "/"
@inject UIService service;

<CascadingValue Value="Service" Name="Service">
 <CascadingValue Value="Service?.Cart" Name="Cart">

    <NavComponentV2 OnChange="OnChange" />
        @if (Service is not null)
        {
            <div id="viewport" class="d-flex vh-100">
                <ProductMainComponent OnChange="OnChange" />
             </div>           
        }

</CascadingValue>
</CascadingValue>


@* <div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
        <ProductMainComponent OnChange="OnChange" />
    </CascadingValue>
</div> *@

@code {
    [CascadingParameter]
    public UIService? Service { get; set; }

    protected override void OnParametersSet() => Service = service;

    void OnChange()
    {

    }

}